GOOGLE_API_KEY=..............................

HF_TOKEN=....................................
HF_HUB_DISABLE_SYMLINKS_WARNING=1

# Setting after dowloaded model
# HF_HUB_OFFLINE=1
# TRANSFORMERS_OFFLINE=1

LANGCHAIN_API_KEY=...........................
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=...........................


