pymupdf
python-dotenv
langchain
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-google-genai
sentence-transformers

# Tai rieng: pip install torch==2.7.1+cu118 --extra-index-url https://download.pytorch.org/whl/cu118